For my Project 2, I am going to explore the predictors of success for small informal businesses in Bangladesh. I obtained my dataset (The Bangladesh informal firms survey 2010) from: https://sites.google.com/site/decrgdmckenzie/datasets

In [1]:
## Package Imports

import numpy as np
import scipy.stats as stats
import pandas as pd
import seaborn as sns

import matplotlib
import matplotlib.pyplot as plt

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

plt.style.use('fivethirtyeight')

In [31]:
bangds = '/Users/sammanning/Desktop/ECON628-01-sjmanning/datasets/BGD_2010/informality_data_NEW.csv'

bang = pd.read_csv(bangds)

In [32]:
bang.head()

,slno,or,nob,gnd,dist,q1_1,s1_1_others,q1_2,q1_3a,q1_3b,...,q11_2b,q11_2c,q11_2d,q11_2e,q11_2f,q12_a,q12_b,q12_c,q12_d,q12_e
0,2,1,1,1,BARISAL,1,NaN,2811,30,50,...,NaN,NaN,NaN,NaN,NaN,3,3,3,3,3
1,3,1,1,1,BARISAL,1,NaN,2812,60,60,...,NaN,NaN,NaN,NaN,NaN,3,3,3,3,3
2,4,2,1,1,BARISAL,1,NaN,2222,63,63,...,NaN,NaN,NaN,NaN,NaN,2,3,3,3,3
3,5,2,1,1,BARISAL,1,NaN,3610,56,56,...,NaN,NaN,NaN,NaN,NaN,2,2,2,3,3
4,6,1,1,1,BARISAL,1,NaN,1920,40,56,...,NaN,NaN,NaN,NaN,NaN,1,3,3,3,3

In [33]:
bang.tail()

,slno,or,nob,gnd,dist,q1_1,s1_1_others,q1_2,q1_3a,q1_3b,...,q11_2b,q11_2c,q11_2d,q11_2e,q11_2f,q12_a,q12_b,q12_c,q12_d,q12_e
1719,1721,1,3,1,TANGAIL,1,NaN,5232,54,54,...,1.0,1.0,2.0,1.0,1.0,2,3,2,3,3
1720,1722,1,3,1,TANGAIL,1,NaN,5233,2,12,...,1.0,2.0,2.0,1.0,1.0,1,1,1,3,3
1721,1723,1,3,1,TANGAIL,1,NaN,5233,0,0,...,1.0,2.0,2.0,1.0,1.0,2,2,2,3,3
1722,1724,1,3,1,TANGAIL,1,NaN,5231,14,14,...,1.0,1.0,2.0,1.0,1.0,2,2,3,3,3
1723,1725,2,3,1,TANGAIL,1,NaN,5234,45,45,...,1.0,1.0,2.0,2.0,1.0,2,2,3,3,3

In [34]:
bang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1724 entries, 0 to 1723
Columns: 331 entries, slno to q12_e
dtypes: float64(178), int64(152), object(1)
memory usage: 4.4+ MB

In [35]:
bang.isnull().sum(axis=0)

slno              0
or                0
nob               0
gnd               0
dist              0
q1_1              0
s1_1_others    1724
q1_2              0
q1_3a             0
q1_3b             0
q1_4              0
s1_4_others    1724
q1_5              0
s1_5_others    1710
q1_6              0
q1_7              0
q1_8              0
q1_9           1520
s1_9_others    1724
q1_10m         1520
q1_10y         1520
q1_11m            0
q1_11y            0
q1_12a1a          0
q1_12a1b          0
q1_12a2a          0
q1_12a2b          0
q1_12a3a          0
q1_12a3b          0
q1_12a4a          0
               ...
q10_1a          103
q10_1b          274
q10_1c          995
q10_1d         1708
q10_1e         1716
q10_1f         1717
q10_2             0
q10_2a            0
q10_3_1        1143
q10_3_2        1321
q10_3_3         219
q10_3_4        1690
q10_3_5        1711
q10_3_6        1720
q10_4             0
q10_5             0
q10_6             0
q11_1             0
q11_1a          457
q11_2a          852
q11_2b          852
q11_2c          852
q11_2d          852
q11_2e          852
q11_2f          852
q12_a             0
q12_b             0
q12_c             0
q12_d             0
q12_e             0
dtype: int64

In [36]:
bang1 = bang.drop(["s1_1_others","q1_3a","s1_4_others","s1_9_others","q1_15", "q2_2", "q2_3", 
                   "q2_5", "q2_6", "q2_7", "q3_1a", "q3_1b", "q3_3", "q3_4a", "q3_4b", "q3_4c",
                   "q3_5b1", "q3_5c1m", "q3_5c1y", "q3_5d1m", "q3_5d1m", "q3_5d1y", "q3_5a2",
                   "q3_5a2", "q3_5b2", "q3_5c2m", "q3_5c2y", "q3_5d2m", "q3_5d2y", "q3_5b3",
                   "q3_5c3m", "q3_5c3y", "q3_5d3m", "q3_5d3y", "q3_5b4", "q3_5c4m", "q3_5c4y",
                   "q3_5d4m", "q3_5d4y", "q3_5c5m", "q3_5c5y", "q3_5d5m", "q3_5d5y",
                   "s3_5others6", "q3_5a6", "q3_5c6m", "q3_5c6y", "q3_5d6m", "q3_5d6y", "q3_8",
                   "q3_9", "q4_1b1", "q4_1b2", "q4_1a3", "q4_1b3", "q4_1b6", "q4_2d", "q4_3",
                   "q4_5b", "q4_9", "q5_1a", "q5_1b", "q5_2", "q6_1b", "q6_1c", "q6_1d", "q6_4",
                   "s6_8oth", "q6_8_8", "q6_9_1", "q6_9_2", "q6_9_3", "q6_9_4", "q6_9_5",
                   "q6_9_6", "q6_9_7", "q6_9_8", "q6_9_9", "q6_9_10", "q6_9_11", "q6_9_12",
                   "q6_9_13", "q6_9_14", "q6_9_15", "s6_9oth", "q6_10a", "q6_10b", "q6_10c",
                   "q6_10d", "q6_10g", "q6_10f", "s610oth", "q6_10h", "q6_11", "q6_12b",
                   "q6_12c", "q6_12d", "q6_16", "s619oth", "q6_19_9", "q6_20_1", "q6_20_2",
                   "q6_20_3", "q6_20_4", "q6_20_5", "q6_20_6", "q6_20_7", "q6_20_8", "q6_20_9", 
                   "q6_20_10", "q6_20_11", "q6_20_12", "q6_20_13", "q6_20_14", "s6_20oth", 
                   "q6_20_15", "q6_21yr", "q6_21a", "q6_21b", "q6_21c", "q6_22", "q6_24_a",
                   "q6_24_c", "q6_26a", "q6_26b", "q7_4a", "q7_4b", "q7_4c", 
                   "q7_4d", "q7_4e", "q7_4f", "q7_4g", "s7_4g_others", "q7_5", "q7_6a", "q7_8",
                   "q7_9", "s7_9_others", "q7_11", "q7_12a", "q7_12b", "q7_12c", "q7_12d",
                   "q7_13a", "q7_14", "q7_18", "q7_22a", "q7_23", "q7_25a", "q7_26", "q7_27_a",
                   "q7_27_b", "q7_27_c", "q7_27_d", "s7_9oth", "q7_27_e", "q7_27_f", "q7_28", 
                   "q8_1oth", "q9_2", "q10_1a", "q10_1b", "q10_1c", "q10_1d", "q10_1e", 
                   "q10_1f", "q10_2a", "q10_3_1", "q10_3_2", "q10_3_3", "q10_3_4", "q10_3_5", 
                   "q10_3_6", "q10_4", "q10_5", "q10_6", "q11_2a", "q11_2b", "q11_2c", "q11_2d", 
                   "q11_2e", "q11_2f", "q12_a", "q12_b", "q12_c", "q12_d", "q12_e", "q1_5", "s1_5_others"],axis=1)

In [37]:
bang1.rename(columns={
        'q1_1':'legal_status',
        'q1_2':'nature_of_biz',
        'q1_3b':'owner_hrs_perweek',
        'q1_4':'biz_site',
        'q1_6':'biz_site_famowned',
        'q1_7':'have_legal_title',
        'q1_8':'inherited_dumm',
        'q1_9':'not_from_scratch',
        'q1_10m':'month_taken_over',
        'q1_10y':'yr_taken_over',
        'q1_11y':'yr_biz_began',
        'q1_11m':'month_biz_began',
        'q1_12a1a':'current_num_sal_workers',
        'q1_12a2a':'current_num_daily_workers',
        'q1_12a2b':'num_daily_workers_atbeg',
        'q1_12a1b':'num_sal_workers_atbeg',
        'q1_12a3a':'current_num_partners',
        'q1_12a3b':'num_partners_atbeg',
        'q1_12a4a':'current_num_unpaid_workers',
        'q1_12a4b':'num_unpaid_workers_atbeg',
        'q1_12a5a':'current_num_tot_workers',
        'q1_12a5b':'tot_num_workers_atbeg',
        'q1_12b':'employ_contract',
        'q1_13':'owner_age',
        'q1_14':'owner_sex',
        'q1_16a':'adults_in_hh',
        'q1_16b':'children_in_hh',
        'q2_1':'owner_educ',
        'q2_4':'num_prior_jobs',
        'q2_5':'legal_status',
        'q2_8':'childhood_pov',
        'q3_2':'bank_accnt',
        'q3_5a1':'priv_loan_ever',
        'q3_5a3':'mfi_loan_ever',
        'q3_5a4':'mny_lender_ever',
        'q3_5a5':'fam_friend_loan_ever',
        'q3_6':'perc_inputs_oncredit',
        'q3_7':'perc_sales_oncredit',
        'q4_1a1':'value_if_own_tools',
        'q4_1a2':'value_if_own_machinery',
        'q4_1a4':'value_if_own_vehicle',
        'q4_1b4':'mnthly_rent_4_vehicle',
        'q4_1a5':'value_if_own_biz_property',
        'q4_1b5':'mnthly_rent',
        'q4_1a6':'value_if_own_othr_assets',
        'q4_1a7':'value_owned_biz_assets',
        'q4_1b7':'value_mnthly_rent_assets',
        'q4_2a':'own_biz_cell',
        'q4_2b':'own_biz_comp',
        'q4_2c':'own_cc_mach',
        'q4_4':'mkt_value_current_inventory',
        'q4_5a':'mnthly_amnt_spent_items_4_resale',
        'q4_5c':'interest_paid_last_month',
        'q4_5d':'wage_sal_last_month',
        'q4_5e':'rent_last_month',
        'q4_5f':'taxes_last_month',
        'q4_5g':'other_exp_last_month',
        'q4_5h':'total_exp_last_month',
        'q4_6':'total_sales_last_month',
        'q4_7':'annual_sales_09',
        'q4_8':'annual_sales_08',
        'q4_10':'tot_prof_last_month',
        'q4_11':'tot_inc_last_month',
        'q4_12':'perc_sales_as_exports',
        'q5_1':'new_prod_serv_last_3yrs',
        'q5_3':'improv_prod_last_3yrs',
        'q5_4':'improv_process_last_3yrs',
        'q5_5':'what_new_process',
        'q5_6a':'have_biz_website',
        'q5_6b':'have_biz_email',
        'q6_1':'have_trade_license',
        'q6_1a':'yrs_in_op_when_took_over',
        'q6_2':'consider_registering_biz',
        'q6_3a':'official_license_cost',
        'q6_3b':'unofficial_license_cost',
        'q6_5':'bribes_in_pastyr_no_lic',
        'q6_6':'bribe_amnt_pastyr_no_lic',
        'q6_7':'if_free_would_get_license',
        'q6_8_1':'reg_expensive',
        'q6_8_2':'reg_time_consum',
        'q6_8_3':'reg_burdensome',
        'q6_8_4':'risk_tax_audit',
        'q6_8_5':'have_to_pay_taxes',
        'q6_8_6':'risk_inspection',
        'q6_8_7':'more_paperwork',
        'q6_8_9':'no_disadvantage_of_license',
        'q6_9_16':'no_benefits_of_license',
        'q6_10e':'visits_by_police_09',
        'q6_12':'biz_have_tax_id_cert',
        'q6_12a':'yrs_biz_in_op_when_acquired',
        'q6_13':'considered_getting_TIN',
        'q6_14a':'official_TIN_cost',
        'q6_14b':'unofficial_TIN_cost',
        'q6_15':'est_annual_taxes_if_got_TIN',
        'q6_17':'bribes_in_pastyr_no_TIN',
        'q6_17a':'bribe_amnt_patyr_no_TIN',
        'q6_18':'if_free_would_get_TIN',
        'q6_19_1':'TIN_expensive',
        'q6_19_3':'TIN_time_consum',
        'q6_19_2':'unoffic_costs_exp_TIN',
        'q6_19_4':'TIN_burdensome',
        'q6_19_5':'risk_tax_audit_TIN',
        'q6_19_6':'have_to_pay_taxes_TIN',
        'q6_19_7':'risk_inspection_TIN',
        'q6_19_8':'more_paperwork_TIN',
        'q6_19_10':'no_disadvantage_of_TIN',
        'q6_20_16':'no_benefits_of_TIN',
        'q6_21':'registered_for_VAT',
        'q6_23':'have_sanitation_permit',
        'q6_24_b':'biz_assoc_member',
        'q6_25':'extortion_dumm',
        'q6_25a':'extortion_value',
        'q7_1a':'check_prices',
        'q7_1b':'check_products',
        'q7_1c':'ask_prod_reqs',
        'q7_1d':'speak_w_former',
        'q7_1e':'speak_w_supplier',
        'q7_2':'spec_offers',
        'q7_3':'advert_dumm',
        'q7_6':'neg_w_supplier',
        'q7_7':'compare_alt_supp',
        'q7_10':'outofstock_freq',
        'q7_13':'have_recrdkping_syst',
        'q7_15':'biz_record',
        'q7_16':'rec_of_every_sale',
        'q7_17':'rec_to_track_cash',
        'q7_19':'know_cost_each_prd',
        'q7_20':'know_prof_prd',
        'q7_21':'have_budget',
        'q7_22':'sell_on_credit_dumm',
        'q7_24':'review_perf_freq',
        'q7_25':'sales_goal_dumm',
        'q8_1':'expect_in_5yrs',
        'q8_2':'num_emp_in_5yrs',
        'q9_1':'risk_1_10',
        'q10_2':'num_firms_nearby',
        'q11_1':'have_sign',
        'q11_1a':'sign1_bright_2_old',
    }, inplace=True)

In [38]:
bang1.describe()

,slno,or,nob,gnd,legal_status,nature_of_biz,owner_hrs_perweek,biz_site,biz_site_famowned,have_legal_title,...,have_budget,sell_on_credit_dumm,review_perf_freq,sales_goal_dumm,expect_in_5yrs,num_emp_in_5yrs,risk_1_10,num_firms_nearby,have_sign,sign1_bright_2_old
count,1724.000000,1724.000000,1724.000000,1724.000000,1724.000000,1724.000000,1724.000000,1724.000000,1724.000000,1724.000000,...,1724.000000,1724.000000,1724.000000,1724.000000,1724.000000,1724.000000,1724.000000,1724.000000,1724.000000,1267.000000
mean,863.500000,1.199536,2.223898,1.014501,1.140371,4692.599188,50.595708,4.740719,1.205916,1.768561,...,1.505220,1.236079,2.562065,1.638631,1.203016,251.793503,6.124130,121.987819,1.265661,1.171271
std,497.820249,0.399768,0.859070,0.119579,0.442930,1649.081699,19.086376,1.711845,0.434910,0.421874,...,0.500118,0.424794,1.055170,0.480537,0.594492,421.338756,2.868914,314.294795,0.441813,0.376894
min,2.000000,1.000000,1.000000,1.000000,1.000000,1514.000000,0.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,432.750000,1.000000,1.000000,1.000000,1.000000,3691.000000,42.000000,4.000000,1.000000,2.000000,...,1.000000,1.000000,2.000000,1.000000,1.000000,5.000000,5.000000,10.000000,1.000000,NaN
50%,863.500000,1.000000,3.000000,1.000000,1.000000,5220.000000,54.000000,4.000000,1.000000,2.000000,...,2.000000,1.000000,2.000000,2.000000,1.000000,15.000000,6.000000,30.000000,1.000000,NaN
75%,1294.250000,1.000000,3.000000,1.000000,1.000000,5239.000000,60.000000,4.000000,1.000000,2.000000,...,2.000000,1.000000,4.000000,2.000000,1.000000,200.000000,9.000000,100.000000,2.000000,NaN
max,1725.000000,2.000000,3.000000,2.000000,5.000000,9309.000000,110.000000,10.000000,3.000000,2.000000,...,2.000000,2.000000,4.000000,2.000000,5.000000,3000.000000,10.000000,7000.000000,2.000000,2.000000

In [39]:
bang1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1724 entries, 0 to 1723
Columns: 144 entries, slno to sign1_bright_2_old
dtypes: float64(46), int64(97), object(1)
memory usage: 1.9+ MB

In [40]:
bang1.isnull().sum(axis=0)

slno                             0
or                               0
nob                              0
gnd                              0
dist                             0
legal_status                     0
nature_of_biz                    0
owner_hrs_perweek                0
biz_site                         0
biz_site_famowned                0
have_legal_title                 0
inherited_dumm                   0
not_from_scratch              1520
month_taken_over              1520
yr_taken_over                 1520
month_biz_began                  0
yr_biz_began                     0
current_num_sal_workers          0
num_sal_workers_atbeg            0
current_num_daily_workers        0
num_daily_workers_atbeg          0
current_num_partners             0
num_partners_atbeg               0
current_num_unpaid_workers       0
num_unpaid_workers_atbeg         0
current_num_tot_workers          0
tot_num_workers_atbeg            0
employ_contract                 98
owner_age                        0
owner_sex                        0
                              ...
have_sanitation_permit           0
biz_assoc_member              1327
extortion_dumm                   0
extortion_value               1585
check_prices                     0
check_products                   0
ask_prod_reqs                    0
speak_w_former                   0
speak_w_supplier                 0
spec_offers                      0
advert_dumm                      0
neg_w_supplier                   0
compare_alt_supp                 0
outofstock_freq                 94
have_recrdkping_syst           857
biz_record                       0
rec_of_every_sale              415
rec_to_track_cash              416
know_cost_each_prd               0
know_prof_prd                    0
have_budget                      0
sell_on_credit_dumm              0
review_perf_freq                 0
sales_goal_dumm                  0
expect_in_5yrs                   0
num_emp_in_5yrs                  0
risk_1_10                        0
num_firms_nearby                 0
have_sign                        0
sign1_bright_2_old             457
dtype: int64

In [41]:
bang1.dropna(axis=1, inplace=True)
bang1.isnull().sum(axis=0)

slno                           0
or                             0
nob                            0
gnd                            0
dist                           0
legal_status                   0
nature_of_biz                  0
owner_hrs_perweek              0
biz_site                       0
biz_site_famowned              0
have_legal_title               0
inherited_dumm                 0
month_biz_began                0
yr_biz_began                   0
current_num_sal_workers        0
num_sal_workers_atbeg          0
current_num_daily_workers      0
num_daily_workers_atbeg        0
current_num_partners           0
num_partners_atbeg             0
current_num_unpaid_workers     0
num_unpaid_workers_atbeg       0
current_num_tot_workers        0
tot_num_workers_atbeg          0
owner_age                      0
owner_sex                      0
adults_in_hh                   0
children_in_hh                 0
owner_educ                     0
num_prior_jobs                 0
                              ..
visits_by_police_09            0
biz_have_tax_id_cert           0
yrs_biz_in_op_when_acquired    0
official_TIN_cost              0
unofficial_TIN_cost            0
est_annual_taxes_if_got_TIN    0
registered_for_VAT             0
have_sanitation_permit         0
extortion_dumm                 0
check_prices                   0
check_products                 0
ask_prod_reqs                  0
speak_w_former                 0
speak_w_supplier               0
spec_offers                    0
advert_dumm                    0
neg_w_supplier                 0
compare_alt_supp               0
biz_record                     0
know_cost_each_prd             0
know_prof_prd                  0
have_budget                    0
sell_on_credit_dumm            0
review_perf_freq               0
sales_goal_dumm                0
expect_in_5yrs                 0
num_emp_in_5yrs                0
risk_1_10                      0
num_firms_nearby               0
have_sign                      0
dtype: int64

In [42]:
## Beginning to create a set of new dataframes to make the dataset more
## manageable. For example, I will create a set of dataframes comprised
## of categories of predictor variables such as owner characteristics, 
## business practices, attitudes toward formal registration, and intensity
## of local competition. Then I will be able to run models with different dataframes
## on different outcome variables.

In [43]:
## Creating a new dataframe with only general biz information in it.

bang_gen = bang1[["slno", "or", "nob", "gnd", "dist", "legal_status", "nature_of_biz", 
                 "owner_hrs_perweek", "biz_site", "biz_site_famowned", "have_legal_title", 
                 "inherited_dumm", "owner_age", "owner_sex"]]

In [44]:
bang1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1724 entries, 0 to 1723
Data columns (total 98 columns):
slno                                1724 non-null int64
or                                  1724 non-null int64
nob                                 1724 non-null int64
gnd                                 1724 non-null int64
dist                                1724 non-null object
legal_status                        1724 non-null int64
nature_of_biz                       1724 non-null int64
owner_hrs_perweek                   1724 non-null int64
biz_site                            1724 non-null int64
biz_site_famowned                   1724 non-null int64
have_legal_title                    1724 non-null int64
inherited_dumm                      1724 non-null int64
month_biz_began                     1724 non-null int64
yr_biz_began                        1724 non-null int64
current_num_sal_workers             1724 non-null int64
num_sal_workers_atbeg               1724 non-null int64
current_num_daily_workers           1724 non-null int64
num_daily_workers_atbeg             1724 non-null int64
current_num_partners                1724 non-null int64
num_partners_atbeg                  1724 non-null int64
current_num_unpaid_workers          1724 non-null int64
num_unpaid_workers_atbeg            1724 non-null int64
current_num_tot_workers             1724 non-null int64
tot_num_workers_atbeg               1724 non-null int64
owner_age                           1724 non-null int64
owner_sex                           1724 non-null int64
adults_in_hh                        1724 non-null int64
children_in_hh                      1724 non-null int64
owner_educ                          1724 non-null int64
num_prior_jobs                      1724 non-null int64
childhood_pov                       1724 non-null int64
bank_accnt                          1724 non-null int64
priv_loan_ever                      1724 non-null int64
mfi_loan_ever                       1724 non-null int64
mny_lender_ever                     1724 non-null int64
fam_friend_loan_ever                1724 non-null int64
perc_inputs_oncredit                1724 non-null int64
perc_sales_oncredit                 1724 non-null int64
value_if_own_tools                  1724 non-null int64
value_if_own_machinery              1724 non-null int64
value_if_own_vehicle                1724 non-null int64
mnthly_rent_4_vehicle               1724 non-null int64
value_if_own_biz_property           1724 non-null int64
value_if_own_othr_assets            1724 non-null int64
value_owned_biz_assets              1724 non-null int64
value_mnthly_rent_assets            1724 non-null int64
own_biz_cell                        1724 non-null int64
own_biz_comp                        1724 non-null int64
own_cc_mach                         1724 non-null int64
mnthly_amnt_spent_items_4_resale    1724 non-null int64
interest_paid_last_month            1724 non-null int64
wage_sal_last_month                 1724 non-null int64
taxes_last_month                    1724 non-null int64
other_exp_last_month                1724 non-null int64
total_exp_last_month                1724 non-null int64
total_sales_last_month              1724 non-null int64
annual_sales_09                     1724 non-null int64
annual_sales_08                     1724 non-null int64
tot_prof_last_month                 1724 non-null int64
tot_inc_last_month                  1724 non-null int64
perc_sales_as_exports               1724 non-null int64
new_prod_serv_last_3yrs             1724 non-null int64
improv_prod_last_3yrs               1724 non-null int64
improv_process_last_3yrs            1724 non-null int64
have_biz_website                    1724 non-null int64
have_biz_email                      1724 non-null int64
have_trade_license                  1724 non-null int64
yrs_in_op_when_took_over            1724 non-null int64
visits_by_police_09                 1724 non-null int64
biz_have_tax_id_cert                1724 non-null int64
yrs_biz_in_op_when_acquired         1724 non-null int64
official_TIN_cost                   1724 non-null int64
unofficial_TIN_cost                 1724 non-null int64
est_annual_taxes_if_got_TIN         1724 non-null int64
registered_for_VAT                  1724 non-null int64
have_sanitation_permit              1724 non-null int64
extortion_dumm                      1724 non-null int64
check_prices                        1724 non-null int64
check_products                      1724 non-null int64
ask_prod_reqs                       1724 non-null int64
speak_w_former                      1724 non-null int64
speak_w_supplier                    1724 non-null int64
spec_offers                         1724 non-null int64
advert_dumm                         1724 non-null int64
neg_w_supplier                      1724 non-null int64
compare_alt_supp                    1724 non-null int64
biz_record                          1724 non-null int64
know_cost_each_prd                  1724 non-null int64
know_prof_prd                       1724 non-null int64
have_budget                         1724 non-null int64
sell_on_credit_dumm                 1724 non-null int64
review_perf_freq                    1724 non-null int64
sales_goal_dumm                     1724 non-null int64
expect_in_5yrs                      1724 non-null int64
num_emp_in_5yrs                     1724 non-null int64
risk_1_10                           1724 non-null int64
num_firms_nearby                    1724 non-null int64
have_sign                           1724 non-null int64
dtypes: int64(97), object(1)
memory usage: 1.3+ MB

In [45]:
## Creating outcome variables. First step is to know how long each business has been running,
## so that I can create outcome variables that account for rates of change in addition to 
## current statistics that indicate business success.

bang1['biz_age'] = 2010 - bang1['yr_biz_began']
bang1['change_in_wrkrs_py'] = (bang1['current_num_tot_workers'] - bang1['tot_num_workers_atbeg']) / bang1['biz_age']