For my Project 2, I am going to explore the predictors of success for small informal businesses in Bangladesh. I obtained my dataset (The Bangladesh informal firms survey 2010) from: https://sites.google.com/site/decrgdmckenzie/datasets

For this first submission, I am still in the data cleaning process. The work below probably does not look like a lot, but it is the result of roughly 4-5 hours of parsing through a pretty complicated data dictionary to figure out what all of the 300+ variables mean, to rename them, and to see what variables might be valuable. In the end, I'm optimistic all of the cleaning will be worth it!!

In [6]:
## Package Imports

import numpy as np
import scipy.stats as stats
import pandas as pd
import seaborn as sns

import matplotlib
import matplotlib.pyplot as plt

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

plt.style.use('fivethirtyeight')

In [7]:
bangds = '/Users/sammanning/Desktop/ECON628-01-sjmanning/datasets/BGD_2010/informality_data_NEW.csv'

bang = pd.read_csv(bangds)

In [8]:
bang.head()

,slno,or,nob,gnd,dist,q1_1,s1_1_others,q1_2,q1_3a,q1_3b,...,q11_2b,q11_2c,q11_2d,q11_2e,q11_2f,q12_a,q12_b,q12_c,q12_d,q12_e
0,2,1,1,1,BARISAL,1,NaN,2811,30,50,...,NaN,NaN,NaN,NaN,NaN,3,3,3,3,3
1,3,1,1,1,BARISAL,1,NaN,2812,60,60,...,NaN,NaN,NaN,NaN,NaN,3,3,3,3,3
2,4,2,1,1,BARISAL,1,NaN,2222,63,63,...,NaN,NaN,NaN,NaN,NaN,2,3,3,3,3
3,5,2,1,1,BARISAL,1,NaN,3610,56,56,...,NaN,NaN,NaN,NaN,NaN,2,2,2,3,3
4,6,1,1,1,BARISAL,1,NaN,1920,40,56,...,NaN,NaN,NaN,NaN,NaN,1,3,3,3,3

In [9]:
bang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1724 entries, 0 to 1723
Columns: 331 entries, slno to q12_e
dtypes: float64(178), int64(152), object(1)
memory usage: 4.4+ MB

In [10]:
bang.isnull().sum(axis=0)

slno              0
or                0
nob               0
gnd               0
dist              0
q1_1              0
s1_1_others    1724
q1_2              0
q1_3a             0
q1_3b             0
q1_4              0
s1_4_others    1724
q1_5              0
s1_5_others    1710
q1_6              0
q1_7              0
q1_8              0
q1_9           1520
s1_9_others    1724
q1_10m         1520
q1_10y         1520
q1_11m            0
q1_11y            0
q1_12a1a          0
q1_12a1b          0
q1_12a2a          0
q1_12a2b          0
q1_12a3a          0
q1_12a3b          0
q1_12a4a          0
               ...
q10_1a          103
q10_1b          274
q10_1c          995
q10_1d         1708
q10_1e         1716
q10_1f         1717
q10_2             0
q10_2a            0
q10_3_1        1143
q10_3_2        1321
q10_3_3         219
q10_3_4        1690
q10_3_5        1711
q10_3_6        1720
q10_4             0
q10_5             0
q10_6             0
q11_1             0
q11_1a          457
q11_2a          852
q11_2b          852
q11_2c          852
q11_2d          852
q11_2e          852
q11_2f          852
q12_a             0
q12_b             0
q12_c             0
q12_d             0
q12_e             0
dtype: int64

In [12]:
bang1 = bang.drop(["s1_1_others","q1_3a","s1_4_others","s1_9_others","q1_15", "q2_2", "q2_3", "q2_5", "q2_6", "q2_7", "q3_1a", "q3_1b", "q3_3", "q3_4a", "q3_4b", "q3_4c", "q3_5b1", "q3_5c1m", "q3_5c1y", "q3_5d1m", "q3_5d1m", "q3_5d1y", "q3_5a2", "q3_5a2", "q3_5b2", "q3_5c2m", "q3_5c2y", "q3_5d2m", "q3_5d2y", "q3_5b3", "q3_5c3m", "q3_5c3y", "q3_5d3m", "q3_5d3y", "q3_5b4", "q3_5c4m", "q3_5c4y", "q3_5d4m", "q3_5d4y", "q3_5c5m", "q3_5c5y", "q3_5d5m", "q3_5d5y", "s3_5others6", "q3_5a6", "q3_5c6m", "q3_5c6y", "q3_5d6m", "q3_5d6y", "q3_8", "q3_9", "q4_1b1", "q4_1b2", "q4_1a3", "q4_1b3", "q4_1b6", "q4_2d", "q4_3", "q4_5b", "q4_9", "q5_1a", "q5_1b", "q5_2", "q6_1b", "q6_1c", "q6_1d", "q6_4", "s6_8oth", "q6_8_8", "q6_9_1", "q6_9_2", "q6_9_3", "q6_9_4", "q6_9_5", "q6_9_6", "q6_9_7", "q6_9_8", "q6_9_9", "q6_9_10", "q6_9_11", "q6_9_12", "q6_9_13", "q6_9_14", "q6_9_15", "s6_9oth", "q6_10a", "q6_10b", "q6_10c", "q6_10d", "q6_10g", "q6_10f", "s610oth", "q6_10h", "q6_11", "q6_12b", "q6_12c", "q6_12d", "q6_16", "s619oth", "q6_19_9"],axis=1)

In [16]:
bang1.rename(columns={
        'q1_1':'legal_status',
        'q1_2':'nature_of_biz',
        'q1_3b':'owner_hrs_perweek',
        'q1_4':'biz_site',
        'q1_6':'biz_site_famowned',
        'q1_7':'have_legal_title',
        'q1_8':'inherited_dumm',
        'q1_9':'not_from_scratch',
        'q1_10m':'month_taken_over',
        'q1_10y':'yr_taken_over',
        'q1_11y':'yr_biz_began',
        'q1_11m':'month_biz_began',
        'q1_12a1a':'current_num_sal_workers',
        'q1_12a2a':'current_num_daily_workers',
        'q1_12a2b':'num_daily_workers_atbeg',
        'q1_12a1b':'num_sal_workers_atbeg',
        'q1_12a3a':'current_num_partners',
        'q1_12a3b':'num_partners_atbeg',
        'q1_12a4a':'current_num_unpaid_workers',
        'q1_12a4b':'num_unpaid_workers_atbeg',
        'q1_12a5a':'current_num_tot_workers',
        'q1_12b':'employ_contract',
        'q1_13':'owner_age',
        'q1_14':'owner_sex',
        'q1_16a':'adults_in_hh',
        'q1_16b':'children_in_hh',
        'q2_1':'owner_educ',
        'q2_4':'num_prior_jobs',
        'q2_5':'legal_status',
        'q2_8':'childhood_pov',
        'q3_2':'bank_accnt',
        'q3_5a1':'priv_loan_ever',
        'q3_5a3':'mfi_loan_ever',
        'q3_5a4':'mny_lender_ever',
        'q3_5a5':'fam_friend_loan_ever',
        'q3_6':'perc_inputs_oncredit',
        'q3_7':'perc_sales_oncredit',
        'q4_1a1':'value_if_own_tools',
        'q4_1a2':'value_if_own_machinery',
        'q4_1a4':'value_if_own_vehicle',
        'q4_1b4':'mnthly_rent_4_vehicle',
        'q4_1a5':'value_if_own_biz_property',
        'q4_1b5':'mnthly_rent',
        'q4_1a6':'value_if_own_othr_assets',
        'q4_1a7':'value_owned_biz_assets',
        'q4_1b7':'value_mnthly_rent_assets',
        'q4_2a':'own_biz_cell',
        'q4_2b':'own_biz_comp',
        'q4_2c':'own_cc_mach',
        'q4_4':'mkt_value_current_inventory',
        'q4_5a':'mnthly_amnt_spent_items_4_resale',
        'q4_5c':'interest_paid_last_month',
        'q4_5d':'wage_sal_last_month',
        'q4_5e':'rent_last_month',
        'q4_5f':'taxes_last_month',
        'q4_5g':'other_exp_last_month',
        'q4_5h':'total_exp_last_month',
        'q4_6':'total_sales_last_month',
        'q4_7':'annual_sales_09',
        'q4_8':'annual_sales_08',
        'q4_10':'tot_prof_last_month',
        'q4_11':'tot_inc_last_month',
        'q4_12':'perc_sales_as_exports',
        'q5_1':'new_prod_serv_last_3yrs',
        'q5_3':'improv_prod_last_3yrs',
        'q5_4':'improv_process_last_3yrs',
        'q5_5':'what_new_process',
        'q5_6a':'have_biz_website',
        'q5_6b':'have_biz_email',
        'q6_1':'have_trade_license',
        'q6_1a':'yrs_in_op_when_took_over',
        'q6_2':'consider_registering_biz',
        'q6_3a':'official_license_cost',
        'q6_3b':'unofficial_license_cost',
        'q6_5':'bribes_in_pastyr_no_lic',
        'q6_6':'bribe_amnt_pastyr_no_lic',
        'q6_7':'if_free_would_get_license',
        'q6_8_1':'reg_expensive',
        'q6_8_2':'reg_time_consum',
        'q6_8_3':'reg_burdensome',
        'q6_8_4':'risk_tax_audit',
        'q6_8_5':'have_to_pay_taxes',
        'q6_8_6':'risk_inspection',
        'q6_8_7':'more_paperwork',
        'q6_8_9':'no_disadvantage_of_license',
        'q6_9_16':'no_benefits_of_license',
        'q6_10e':'visits_by_police_09',
        'q6_12':'biz_have_tax_id_cert',
        'q6_12a':'yrs_biz_in_op_when_acquired',
        'q6_13':'considered_getting_TIN',
        'q6_14a':'official_TIN_cost',
        'q6_14b':'unofficial_TIN_cost',
        'q6_15':'est_annual_taxes_if_got_TIN',
        'q6_17':'bribes_in_pastyr_no_TIN',
        'q6_17a':'bribe_amnt_patyr_no_TIN',
        'q6_18':'if_free_would_get_TIN',
        'q6_19_1':'TIN_expensive',
        'q6_19_3':'TIN_time_consum',
        'q6_19_2':'unoffic_costs_exp_TIN',
        'q6_19_4':'TIN_burdensome',
        'q6_19_5':'risk_tax_audit_TIN',
        'q6_19_6':'have_to_pay_taxes_TIN',
        'q6_19_7':'risk_inspection_TIN',
        'q6_19_8':'more_paperwork_TIN',
        'q6_19_10':'no_disadvantage_of_TIN',
    }, inplace=True)